body {
    padding: 15px;
}
#customization {
    border: 2px solid black; 
}
div button {
    margin: 2px;
    line-height: 20px;
}
.title {
    text-align: center;
    font-size: 30px;
    font-family: Helvetica;
}
.sub-title {
    text-align: center;
    font-size: 22px;
    font-family: Helvetica;
}
.paragraph {
    font-size: 18px;
    font-family: Helvetica;
}
